<div class="py-20" style="background: linear-gradient(90deg, #ff4b4b 0%, #ed8787 100%)"
>
  <div class="container mx-auto px-6">
    <h2 class="text-4xl font-bold mb-2 text-white">
      Welcome to Keyword Scraper.
    </h2>
    <h3 class="text-2xl mb-8 text-gray-200">
      Engage like the pros! Scrape keywords from your favorite YouTube videos hassle free!
    </h3>

    <button class="bg-white font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider">
      <%= link_to 'Demo', new_site_path %>
    </button>
  </div>
</div>

<section class="container mx-auto">

  <div class="flex items-center flex-wrap mb-20">
    <div class="w-full md:w-1/2">
      <h4 class="text-3xl text-gray-800 font-bold mb-3">What We Do.</h4>
      <p class="text-gray-600 mb-8">Thanks for stopping by! Ever wonder what keywords content creators are using to rack up millions of views? No need to wonder with our video Keyword Scraper!</p>

      <h4 class="text-3xl text-gray-800 font-bold mb-3">Views Made Easy.</h4>
      <p class="text-gray-600 mb-8">Our product is simple. Just sign up, login, or click demo to browse our sample accout. Click the sites tab and paste your video link into the box, click the create button, and BOOM! The keywords of your favorite YouTube videos are now available to you. Now you too can post like the pros! </p>


    </div>
    <div class="w-full md:w-1/2">
      <img src="https://cdn.clipart.email/c18a1407bccdd45147f99926502af7e2_youtube-icon-png-clipart-clipartlycom_1006-1005.png" alt="Monitoring" />
    </div>
  </div>

</section>
