<h1>Editing Site</h1>

<%= link_to 'Delete', @site, method: :delete, data: { confirm: 'Are you sure you want to remove this site from your list?' }, class:"btn btn-danger" %>


<%= render 'form', site: @site %>

<%= link_to 'Show', @site %> |
<%= link_to 'Back', sites_path %>
