<h1>Scraping Error</h1>

<% if @sites.last.link.exclude? "http" %>
  <h2>Site must include "http" or "https" in link field.
  <br> <small> (See link of this site in address bar for example)</small>
</h2>
<br>

<% else %>
  <h2>Last site added does not allow scraping.</h2>
<% end %>

<%= link_to 'Press Here To Remove Site From List', @sites.last, method: :delete, class:"btn btn-lg btn-outline-primary" %>
